<h1>注文履歴詳細</h1>

<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.customer_full_name %></td>
  </tr>

  <tr>
    <th>注文日</th>
    <td><%= l @order.created_at %></td>
  </tr>

  <tr>
    <th>配送先</th>
    <td>
      <%= @order.postal_code %></br>
      <%= @order.address %></br>
      <%= @order.full_name %>
    </td>
  </tr>
  
  <tr>
    <th>支払方法</th>
    <td> <%= Order.payment_methods_i18n[Order.payment_methods.key(@order.payment)] %></td>
  </tr>
  
  <tr>
    <th>注文ステータス</th>
    <td> 
    　<%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
        <%= f.select :oreder_status, Order.oreder_status_methods.keys.map.with_index {|k, i| [I18n.t("enums.order.oreder_status_method.#{k}"), i]} %>
        <%= f.submit '変更' %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
    
    <% total = 0 %>
  </tr>
   <% @order_details.where(order_id: @order).each do |order_detail| %>
  <tr>
    <td><%= order_detail.item.name%></td>
    <td><%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
    <td><%= order_detail.amount %></td>
    <td><%= (order_detail.price * 1.1 * order_detail.amount).floor.to_s(:delimited) %></td>
    <td>
      <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.order_id), method: :patch do |f| %>
        <%= f.select :product_status, OrderDetail.product_status_methods.keys.map.with_index {|k, i| [I18n.t("enums.order_detail.product_status_method.#{k}"), i]} %>
        <%= f.hidden_field :item_id, :value => order_detail.item_id %>
        <%= f.submit '変更' %>
      <% end %>
    </td>
  </tr>
   <% total += (order_detail.price * 1.1 * order_detail.amount) %>
   <% end %>
</table>


<table>
  <tr>
    <th>商品合計</th>
    <td> 
    　<%= total.floor.to_s(:delimited)  %>
    </td>
  </tr>
  
  <tr>
    <th>送料</th>
    <td> 
    　<%= 800 %>
    </td>
  </tr>
  
  <tr>
    <th>請求金額</th>
    <td> 
    　<%= (total += 800).floor.to_s(:delimited) %>
    </td>
  </tr>
  
</table>