<% if current_page? "/items?genre_id=#{params[:genre_id]}" %>

<h1>こっち</h1>

<% else %>
  <h1>商品一覧</h1>
  
  <p>(全<%= @item_count %>件)</p>
  
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
      <table class="table table-borderless col-3 ">
        <th>
          <%= link_to image_tag(item.get_image(200, 100 )), item_path(item.id) %>
        </th>
          <tr>
            <div class="text-left">
              <td>
                <%= item.name %>
              </td>
            </div>
          </tr>
          <tr>
            <div class="text-left">
              <td>
                ￥<%= (item.price * 1.1).floor.to_s(:delimited) %>
              </td>
            </div>
          </tr>
      </table>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @items %>