<% if current_page? "/items?genre_id=#{params[:genre_id]}" %>

  <div class="d-flex h-75">
    <div class="p-0 mt-4 ml-4">
     <%= render 'public/shared/genre', genres: @genres %>
    </div>
    <div class="container m-5">
      <div class="row">
        <div class="col-5">
          <div class="d-flex">
            <h2 class="m-2">商品一覧</h2>
            <h4 class="mt-3">(全<%= @item_genre_count %>件)</h4>
          </div>
        </div>
        <div class="col-7">
        </div>
        <% @item_genre.each do |item| %>
        <table class="table table-borderless col-2 ">
          <th>
            <%= link_to image_tag(item.get_image(200, 100 )), item_path(item.id) %>
          </th>
            <tr>
              <div class="text-left">
                <td>
                  <%= item.name %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="text-left">
                <td>
                  ￥<%= (item.price * 1.1).floor.to_s(:delimited) %>
                </td>
              </div>
            </tr>
        </table>
        <% end %>
        <div class="col-1">
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="d-flex h-75">
    <div class="p-0 mt-4 ml-4">
     <%= render 'public/shared/genre', genres: @genres %>
    </div>
    <div class="container m-5">
      <div class="row">
        <div class="col-5">
          <div class="d-flex">
            <h2 class="m-2">商品一覧</h2>
            <h4 class="mt-3">(全<%= @item_count %>件)</h4>
          </div>
        </div>
        <div class="col-7">
        </div>
        <% @items.each do |item| %>
        <table class="table table-borderless col-2 ">
          <th>
            <%= link_to image_tag(item.get_image(200, 100 )), item_path(item.id) %>
          </th>
            <tr>
              <div class="text-left">
                <td>
                  <%= item.name %>
                </td>
              </div>
            </tr>
            <tr>
              <div class="text-left">
                <td>
                  ￥<%= (item.price * 1.1).floor.to_s(:delimited) %>
                </td>
              </div>
            </tr>
        </table>
        <% end %>
        <div class="col-1">
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @items %>