<div class="d-flex h-75">
  <div class="p-0 mt-4 ml-4">
   <%= render 'public/shared/genre', genres: @genres %>
  </div>
  <div class="container m-5">
    <div class="row">
      <div class="col-5">
        <%= image_tag @item.get_image(400, 300 ) %>
      </div>
      <div class="col-7">
        <table class="table table-borderless">
          <tr class="h2 pb-3">
            <td>
              <%= @item.name %>
            </td>
          </tr>
          <tr class="h4 pb-3">
            <td class="pb-5">
              <%= @item.introduction %>
            </td>
          </tr>
          <tr>
            <td class="mt-5 pt-5">
              <span class="h4">￥<%= (@item.price * 1.1).floor.to_s(:delimited) %> </span>
              <span class="h6">(税込)</span>
            </td>
          </tr>
          </table>
        </div>
    </div>
    
    <%=form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <div class="form-group row">
      <div class="col-5">
      </div>
        <div class="col-3">
          <%= f.select :amount, *[1..10], {include_blank: "個数選択"}, class: 'form-control' %>
        </div>
        <div class="col-3">
          <%= f.submit 'カートに入れる', class: "btn btn-success form-control" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
